<h1>so you want to check a listing</h1>

<div>
  <form method="post" action="/words">
    <fieldset>
      <label for="content">Content</label>
      <textarea rows="10" columns="50" name="content" id="content"></textarea>
    </fieldset>
    <input type="submit">
  </form>
</div>
<a href="/">back to index</a>
