

<div>
  <form method="post" action="/words">
    <fieldset>
      <label for="content">Listing</label>
      <textarea rows="10" columns="50" name="content" id="content"></textarea>
    </fieldset>
    <input type="submit">
  </form>
</div>
